body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    background-color: rgb(223, 159, 210);
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  .products {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    
  }
  

  
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  .add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  